
.main-page-body {
    margin-left: 24px;
    margin-top: 12px;
    padding-bottom: 70px;
}

.bing-map {
    position: absolute; 
    width: 700px; 
    height: 700px;
}

.bottom-row {
    margin-top: 10px;
}

.navbar-fixed-bottm {
    margin-left: 24px;
}