<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0" targetFramework="net46" />
  <package id="System.Linq" version="4.1.0" targetFramework="net46" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net46" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net46" />
  <package id="Validation" version="2.3.7" targetFramework="net46" />
</packages>