<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ng="http://angularjs.org" ng-app="AtcApp">
<head>
    <meta charset="utf-8" />
    <title>Air Traffic Control</title>
    <base href="@Model.ApplicationRoot" />
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.css" />

    <!-- The Bing map control -->
    <script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>

    <!-- Application files -->
    <script type="text/javascript" src="App/AirplaneState.js" defer></script>
    <script type="text/javascript" src="App/Airport.js" defer></script>
    <script type="text/javascript" src="App/MainController.js" defer></script>
    <script type="text/javascript" src="App/MapDirectives.js" defer></script>
    <script type="text/javascript" src="App/AtcApp.js" defer></script>
</head>

<body>
    <div ng-controller="MainController">
        <form class="form-inline">
            <div class="form-group">
                <label for="inputAircraftID">Aircraft ID</label>
                <input type="text" class="form-control" id="inputAircraftID" placeholder="N489Y" ng-model="NewFlightData.AirplaneID">
            </div>
            <div class="form-group">
                <label for="inputDepartureAirport">Departure airport</label>
                <select class="form-control" id="inputDepartureAirport" 
                        ng-model="NewFlightData.DepartureAirport" ng-options="airport as airport.DisplayName for airport in Airports">
                </select>
            </div>
            <div class="form-group">
                <label for="inputDestinationAirport">Destination airport</label>
                <select class="form-control" id="inputDestinationAirport"
                        ng-model="NewFlightData.DestinationAirport" ng-options="airport as airport.DisplayName for airport in Airports"></select>
            </div>            
            <button type="button" class="btn btn-default" ng-click="OnNewFlight()">Create new flight</button>
        </form>


        <div class="row">

            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-sm-1">Airplane ID</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="airplaneState in AirplaneStates">
                        <td>{{airplaneState.ID}}</td>
                        <td>{{airplaneState.StateDescription}}</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6">
                <div bing-map />
            </div>
        </div>
        
    </div>
    <script src="Scripts/angular.js"></script>
</body>
</html>