<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns = "http://schemas.microsoft.com/ApplicationInsights/2013/Settings" >
  <TelemetryProcessors>
    <Add Type="Microsoft.Diagnostics.EventFlow.ApplicationInsights.EventFlowTelemetryProcessor, Microsoft.Diagnostics.EventFlow.Inputs.EventFlowTelemetryProcessor" />
  </TelemetryProcessors>

  <TelemetryChannel Type="Microsoft.Diagnostics.EventFlow.Inputs.Tests.TestTelemetryChannel, Microsoft.Diagnostics.EventFlow.Inputs.Tests"></TelemetryChannel>
  
  <!-- Fake, but needs to be there in order for TelemetryClient to call the processor chain -->
  <InstrumentationKey>58ce4b98-2e30-4ac1-982b-e47c85b8d31d</InstrumentationKey>
</ApplicationInsights>
               