<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <!--
  <Section Name="MyConfigSection">
    <Parameter Name="MyParameter" Value="Value1" />
  </Section>
  -->
    <Section Name="OmsEventListener">
        <Parameter Name="omsWorkspaceId" Value="30787dd1-cacc-4bca-8944-ba88ccb6f350" />
        <Parameter Name="omsWorkspaceKey" Value="ZOkRX79gxSp4luNztJQCaxjuDaLnBSVfkQWRLTouc8tmQXkGtbpXBYBegerlr2xYL0g00y7Zw+KYyihJ4bV/pg==" />
    </Section>
</Settings>
